{% extends 'base.html' %}

{% block content %}
    <div class="scene hidden">
        <div class="ufoWrap">
            <div class='center'>
                <div class="ufoInner">
                    <div id='ufo'>
                        <ul class='blinkers'>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                        <div class="dome"></div>
                        <div class="antigrav">
                            <div class="rings">
                                <div class="inner"></div>
                                <ul>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                </ul>
                            </div><!-- end div.rings -->
                        </div><!-- end div.antigrav -->
                        <div class="thrust">
                            <ul>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                        </div><!-- end div.thrust -->
                    </div><!-- end div#ufo -->
                </div><!-- end div#ufoInner -->
            </div><!-- end div.center -->
        </div><!-- end div.ufoInner -->
        <div class="foreground">
            <ul class="trees3">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul><!-- end ul.trees3 -->
            <ul class="trees2">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul><!-- end ul.trees2 -->
            <ul class="trees1">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul><!-- end ul.trees1 -->
        </div><!-- end div.foreground -->

        <div class="background">
            <div class="stars">
                <li class="small"></li>
                <li class="small"></li>
                <li></li>
                <li class="small"></li>
                <li class="small"></li>
                <li></li>
                <li></li>
                <li></li>
                <li class="small"></li>
                <li></li>
                <li></li>
                <li class="small"></li>
                <li class="small"></li>
                <li class="small"></li>
                <li class="small"></li>
                <li></li>
                <li class="small"></li>
                <li class="small"></li>
                <li class="small"></li>
                <li></li>
                <li class="small"></li>
                <li class="small"></li>
                <li></li>
                <li class="small"></li>
                <li class="small"></li>
                <li class="small"></li>
                <li class="small"></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li class="small"></li>
                <li></li>
                <li class="small"></li>
                <li class="small"></li>
                <li></li>
                <li></li>
                <li class="small"></li>
                <li></li>
                <li class="small"></li>
                <li class="small"></li>
                <li></li>
                <li class="small"></li>
                <li class="small"></li>
                <li class="small"></li>
                <li class="small"></li>
                <li></li>
                <li></li>
            </div><!-- end div.stars -->
        </div><!-- end div.background -->

    </div><!-- end div.scene -->

    <div class="camera">

{#        <div class="rec">#}
{#      <span><span></span><svg class="blinky" xmlns="http://www.w3.org/2000/svg" width="16" height="16"#}
{#                              fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">#}
{#  <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>#}
{#</svg></span>#}
{#        </div><!-- end div.rec -->#}
        <div class="meta">
{#            <p>F2.3&nbsp;&nbsp;0dB&nbsp;&nbsp;15.7V#}
{#                <span class="exposure">#}
{#          <span class="plus">+</span>#}
{#          <span class="minus">-</span>#}
{#        </span>#}
            </p>
        </div><!-- end div.meta -->
        <div class="timer">
{#            <label id="hours">00</label>:#}
{#            <label id="minutes">00</label>:#}
{#            <label id="seconds">00</label>#}
        </div><!-- end div.timer -->
    </div><!-- end div.camera -->


    <div class="container col-xxl-8 px-4 py-5">

        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">

            <div class="col-10 col-sm-8 col-lg-6">

{#                <img src="cs=tinysrgb&amp;fit=crop&amp;fm=jpg&amp;ixid=MnwzNzg0fDB8MXxzZWFyY2h8MTB8fHdlYnNpdGV8ZW58MHwwfHx8MTYyMTQ0NjkyNg&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=1080&amp;h=768"#}
{#                     class="d-block mx-lg-auto img-fluid" alt="" loading="lazy">#}
            </div>
            <div class="col-lg-6">
{#                <div class="night">#}
{#                    <div class="star"></div>#}
{#                    <div class="star"></div>#}
{#                    <div class="star"></div>#}
{#                    <div class="star"></div>#}
{#                    <div class="star"></div>#}
{#                </div>#}
                <div class="p p-1"></div>
                <div class="p p-2"></div>
                <div class="p p-3"></div>
                <div class="lc-block mb-3">
                    <div editable="rich">
                        <h2 class="fw-bold display-5">Welcome to the SS platform where all the great minds talk about
                            stars </h2>
                    </div>
                </div>

                <div class="lc-block mb-3">
                    <div editable="rich">
                        <p>.
                        </p>
                        <p>.
                        </p>
                        <p>.
                        </p>
                        <p>.
                        </p>
                        <p>.
                        </p>
                    </div>
                </div>


            </div>
        </div>
    </div>
{% endblock %}
<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="https://images.unsplash.com/photo-1530435460869-d13625c69bbf?crop=entropy&amp;cs=tinysrgb&amp;fit=crop&amp;fm=jpg&amp;ixid=MnwzNzg0fDB8MXxzZWFyY2h8MTB8fHdlYnNpdGV8ZW58MHwwfHx8MTYyMTQ0NjkyNg&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=1080&amp;h=768"
                 class="d-block mx-lg-auto img-fluid" alt="" loading="lazy">
        </div>
        <div class="col-lg-6">
            <div class="lc-block mb-3">
                <div editable="rich">
                    <h2 class="fw-bold display-5">Responsive left-aligned hero with image</h2>
                </div>
            </div>

            <div class="lc-block mb-3">
                <div editable="rich">
                    <p class="lead">Quickly design and customize responsive mobile-first sites with Bootstrap, the
                        world’s most popular front-end open source toolkit, featuring Sass variables and mixins,
                        responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.
                    </p>
                </div>
            </div>

            <div class="lc-block d-grid gap-2 d-md-flex justify-content-md-start"><a
                    class="btn btn-primary px-4 me-md-2" href="#" role="button">Click me, I'm a button</a>
                <a class="btn btn-outline-secondary px-4" href="#" role="button">Click me, I'm a button</a>
            </div>

        </div>
    </div>
</div>